<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>To-Do App</title>
</head>

<body>

<div class="container mt-4">
  <div *ngIf="mytodo" class="custom-container">
    <h2 class="text-center">Detalii ToDo</h2>
    <p><strong>ID:</strong> {{ mytodo.id }}</p>
    <p><strong>Title:</strong> {{ mytodo.title }}</p>
    <p><strong>Description:</strong> {{ mytodo.description }}</p>
  </div>
  <div *ngIf="!mytodo" class="custom-container text-center">
    <p>Nu există detalii ToDo disponibile.</p>
  </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
