<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>To-Do App</title>
</head>

<body>

<div class="container mt-4">

  <ng-container *ngFor="let toDo of myToDoList">
    <div class="card mb-2">
      <div class="card-body">
        <h5 class="card-title">Task ID: {{toDo.id}}</h5>
        <p class="card-text">Description: {{toDo.description}}</p>
        <p class="card-text">Title: {{toDo.title}}</p>
        <p class="card-text">Completed: {{toDo.completed ? 'Yes' : 'No'}}</p>
      </div>
    </div>
  </ng-container>

  <button class="btn custom-button" (click)="getToDos()">Get all ToDos</button>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
